NEXT_PUBLIC_SCAN_ENDPOINT=__REPLACE_WITH_SCAN_ENDPOINT__
NEXT_PUBLIC_DASHBOARD_ENDPOINT=__REPLACE_WITH_DASHBOARD_ENDPOINT__
NEXT_PUBLIC_HISTORY_ENDPOINT=__REPLACE_WITH_HISTORY_ENDPOINT__
NEXT_PUBLIC_PROFILE_ENDPOINT=__REPLACE_WITH_PROFILE_ENDPOINT__
